@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:wght@300;400;500;600;700&display=swap');


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.head-section
{
  width: 100%;
  height: 100px;
  /* background-color: hotpink; */
  padding: 25px 100px 25px 35px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  /* border-bottom: 2px solid black; */
}

/* logo css  */

.logo
{
  width: 15%;
  height: 50px;
  /* background-color: darkgreen; */
  border-right: 0.5px solid rgb(116, 114, 114);
}

.img-logo
{
  display: inline-block;
  width: 90%;
  padding: 0px 10px;
  /* background-color: aqua; */
}

/* nav-section css  */

.nav-bar
{
  width: 45%;
  height: 50px;
  /* background-color:lawngreen; */
} 

.nav-link
{
  width: 98%;
  height: 50px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: darksalmon; */
}

.nav-links
{
  letter-spacing: 1px;
  text-decoration: none;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  /* background-color: darkorange; */
  color: black;
 transition: .3s;
}

.nav-links:hover
{
  color: #1EC6B6;
}

.icon 
{
  font-size: 10px;
}

.dropdown
{
  list-style: none;
  position: absolute;
  top: 60%;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.95);
  /* box-shadow: 0 0 2px rgb(222, 221, 221); */
  text-align: left;
  display: none;
  z-index: 1;
}

.dropdown .d1
{
  padding-top: 45px;
}

.dropdown-content
{
  
  display: block;
  text-decoration: none;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
  
}

li:hover ul.dropdown
{
  display: block;
}




/* contact section  */

.contact
{
  width: 25%;
  height: 50px;
  /* background-color: lightseagreen; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number
{
  width: 48%;
  height: 50px;
  /* background-color: indianred; */
 display: flex;
 align-items: center;
 font-size: 18px;
 font-weight: 600;
 color: black;
 border-right: 0.5px solid rgb(116, 114, 114);
}

.call-icon
{
  color: red;
  font-size: 13px;
  padding-right: 6px;
}

.nav-bar2
{
  width: 48%;
  height: 50px;
  /* background-color: lightpink; */
}

.nav-link2
{
  
  width: 98%;
  height: 50px;
  /* background-color: yellow; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.icon2
{
  color: rgb(141, 141, 141);
  font-size: 16px;
}

.icon2:hover
{
  color: red;
}

.icon3
{
  margin-right: 20px;
}


/* search css  */
.search 
{
  position: absolute;
  top: 0;
  right: 0;
  width: 6%;
  height: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search:hover
{
  cursor: pointer;
}

.search-icon
{
  font-size: 20px;
  color: white;
}



/* banner css  */

.banner-about
{
  
  width: 100%;
  height: 68vh;
  margin-top: 100px;
  /* background-color: lawngreen; */
  background-image: url('Images/blog.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.heading-about
{
  height: 140px;
  font-size: 100px;
  font-family: 'Kalam', cursive;
  font-weight: 100;
  letter-spacing: 1px;
  color: white;
  margin-top: -50px;
  /* background-color: lightsalmon; */
}


.para-about
{
  /* padding: 2px; */
  /* background-color: lime; */
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 500;
  color: rgb(233, 233, 233);
  /* margin-top: -5px; */
}


/* map css  */

.map
{
  width: 100%;
  padding: 130px 200px 80px;
  /* background-color: darkorange; */
}

.bang-map
{
  width: 100%;
}


/* blog reply  */


.contact-form
{
  width: 80%;
  /* background-color: green; */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.blog-reply
{
  width: 100%;
  padding: 10px;
  /* background-color: burlywood; */
  border-top: 1px solid #ebebeb;
  margin-top: 40px;
  display: flex;
  /* flex-direction: colu; */
  column-gap: 150px;
}

.contact-form>p
{
  /* background-color: darkorange; */
  font-family: 'poppins', sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-top: 40px;
}

.blog-reply-form
{
  width: 100%;
  padding: 5px;
  /* background-color: fuchsia; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.blog-reply-tex textarea, .blog-reply-inp2 input
{
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #f0e9ff;
  border-radius: 2px;
}

.blog-reply-inp
{
  display: flex;
  justify-content: space-between;
}

.blog-reply-inp input
{
  width: 48%;
  padding: 15px;
  outline: none;
  border: 1px solid #f0e9ff;
  border-radius: 2px;
}


.blog-reply-inp2 input
{
  width: 100%;
  padding: 15px;
  outline: none;
  border: 1px solid #f0e9ff;
  border-radius: 2px;
}

.blog-reply-btn input
{
  width: 20%;
  padding: 15px 40px;
  font-size: 14px;
  outline: none;
  border: none;
  color: white;
  background-color: #1EC6B6;
}

.blog-reply-btn input:hover
{
  background-color: #FF4A52;
  cursor: pointer;
}


.contact-address
{
  width: 30%;
  padding: 10px;
  padding-top: 45px;
  /* background-color: yellow; */
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.cont
{
  display: flex;
  column-gap: 15px;
}


.cont>i
{
  font-size: 30px;
  color: rgb(55, 55, 55);
}

.cont-details
{
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  font-weight: 900;
}

.cd-1
{
  font-size: 18px;
  color: black;
}

.cd-2
{
  font-size: 17px;
  color: #95979c;
}


.c2{
  column-gap: 22px;
}

.c2>i
{
  margin-left: 5px;
}

.c3 
{
  column-gap: 20px;
}






















/* footer css  */

footer
{
  width: 100%;
  height: 465px;
  background-color: #040E27;
  padding: 70px 170px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.address
{
  /* background-color: blue; */
  width: 22%;
  height: 200px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.foot-logo
{
  /* background-color: aqua; */
  width: 70%;
}

address{
  /* background-color: blueviolet; */
  font-size: 17px;
  color: white;
  line-height: 25px;
}

.footer-design
{
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10%;
  height: 200px;
  row-gap: 20px;
}

.footer-heading
{
  /* background-color: fuchsia; */
  font-size: 23px;
  font-weight: 500;
  color: white;
  font-family: 'poppins', sans-serif;
}

.foot-link
{
  /* background-color: forestgreen; */
  list-style: none;
  width: 100%;
  /* background-color: aqua;  */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot-link li {
  /* background-color: deeppink; */
  font-size: 16px;
  font-weight: 300;
  padding: 8px;
  font-family: 'poppins', sans-serif;
}

.foot-link li a{
  /* background-color: goldenrod; */
  text-decoration: none;
  color:#95979c;
}

.foot-link li a:hover{
  color: red;
}

.footer-design2{
  width: 25%;
  height: 350px;
  /* background-color: indigo; */
  text-align: center;

}

.footer-heading2
{
  font-family: 'poppins', sans-serif;
  width: 85%;
  /* background-color: fuchsia; */
  font-size: 23px;
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
}

.foot-container
{
  /* width: 100%; */
  height: 230px;
  /* background-color: aqua; */
  padding: 10px;
  display: flex;
  column-gap: 5px;
 justify-content: space-around;
  flex-wrap: wrap;
  
}
.foot-hold
{
  width: 25%;
  height: 40px;
  /* background-color: yellow; */
}

.foot-image {
  width: 100%;
  height: 80px;
  border-radius: 5px;
}

.foot-icons
{
  width: 25%;
  height: 22px;
  /* background-color: forestgreen; */
  margin-top: -90px;
  display: flex;
}

.foo-link
{
  text-decoration: none;
  color: #95979c;
  padding: 5px;
  
}

.fo-icon
{
  font-size: 16px;
  padding-right: 22px;
  font-weight: 100;
}

.fo-icon:hover
{
  color: red;
}

.last-foot
{
  margin-top: -20px;
  width: 100%;
  border-top: 0.5px solid #95979c;
}

.last-para
{
  font-size: 14px;
  padding: 20px;
  text-align: center;
  color: #95979c;
  font-family: 'poppins', sans-serif;
}

.last-para span
{
  color: red;
}
